* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 30px;
}
ul {
  list-style: none;
  margin-bottom: 20px;
}
button {
  font-size: 1.5rem;
  background-color: white;
  margin-left: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  &:hover {
    background-color: lightgray;
  }
}
.title {
  margin-bottom: 20px;
  font-size: 3rem;
}
.carrello {
  margin-top: 50px;
}
.quantity {
  padding: 0.3rem;
}
.svuota,
.scroll-to-top {
  margin: 0 auto 30px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
